{% load static %}
<link rel="stylesheet" href="{% static '/base/style.css' %}/">
<!DOCTYPE html>
<html>
    <head lang="en">
        
        <!-- G Settings for web page -->
        <meta charset="urf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Customized settin for our web page -->
        <title>StudyBud</title>
    
    </head>

    <body>
        
        <!-- Add Navbar for every page -->
        {% include 'base/navbar.html' %}
            <!-- Create blocks that will be inherited later on -->
        
        {% block content %} 
            <!-- This block is for content displaying -->
        {% endblock %}

    </body>

</html>